ErrorDocument 404 /404.html

redirect 301 /remember-to-commit /2007/07/05/remember-to-commit/
redirect 301 /fast-user-switch-plasmoid-improvements /2010/07/23/fast-user-switch-plasmoid-improvements/
redirect 301 /tyding_up_strigi_analyzers /2008/01/10/tyding_up_strigi_analyzers/
redirect 301 /svn-cleaner /2006/02/15/svn-cleaner/
redirect 301 /qjson-qobject-serialization-deserialization /2009/12/04/qjson-qobject-serialization-deserialization/
redirect 301 /howto-edit-multime-id3-tags-from-command-line /2005/12/08/howto-edit-multime-id3-tags-from-command-line/
redirect 301 /still-coding /2008/05/27/still-coding/
redirect 301 /strigi_irc_meeting_january /2008/01/11/strigi_irc_meeting_january/
redirect 301 /ruby-downloader-for-jamendo /2008/10/03/ruby-downloader-for-jamendo/
redirect 301 /qjson-easier-serialization-of-qobject-instances-to-json /2009/11/30/qjson-easier-serialization-of-qobject-instances-to-json/
redirect 301 /qjson-symbian /2010/03/14/qjson-symbian/
redirect 301 /kaveau-easy-integrated-backup-solution-kde /2009/07/28/kaveau-easy-integrated-backup-solution-kde/
redirect 301 /fast-user-switch-plasmoid /2010/07/15/fast-user-switch-plasmoid/
redirect 301 /linux-and-cryptography /2005/08/12/linux-and-cryptography/
redirect 301 /desktop-searching /2007/06/05/desktop-searching/
redirect 301 /kaveau-updates /2009/09/14/kaveau-updates/
redirect 301 /introducing-dister-a-heroku-like-solution-for-suse-studio /2011/03/29/introducing-dister-a-heroku-like-solution-for-suse-studio/
redirect 301 /jump /2010/08/11/jump/
redirect 301 /qjson_desktop_summi /2009/06/30/qjson_desktop_summi/
redirect 301 /ibook-console-keyboard-mapping /2006/05/12/ibook-console-keyboard-mapping/
redirect 301 /can-dreams-became-true /2008/07/16/can-dreams-became-true/
redirect 301 /regexp-with-boost /2006/02/16/regexp-with-boost/
redirect 301 /gentoo_doc_checker /2005/12/08/gentoo-documentation-checker/
redirect 301 /gentoo-documentation-checker /2005/12/08/gentoo-documentation-checker/
redirect 301 /qjson_0-6-0_release /2009/07/23/qjson_0-6-0_release/
redirect 301 /back-from-fosdem /2007/03/01/back-from-fosdem/
redirect 301 /ibook-x-keyboard-mapping /2006/05/12/ibook-x-keyboard-mapping/
redirect 301 /strigi_full_xesam_support /2007/08/31/strigi_full_xesam_support/
redirect 301 /strigi_xesam_query_language_support /2007/08/07/strigi_xesam_query_language_support/
redirect 301 /howto_use_git_with_svn /2007/09/04/howto_use_git_with_svn/
redirect 301 /my_current_tasks /2008/01/18/my_current_tasks/
redirect 301 /linux-on-console /2006/04/01/linux-on-console/
redirect 301 /site-updates /2007/06/07/site-updates/
redirect 301 /kde4_preview_gazzaniga /2007/05/29/kde4_preview_gazzaniga/
redirect 301 /kde-italy-and-me /2007/05/07/kde-italy-and-me/
redirect 301 /kde4_linuxday_2007 /2007/10/29/kde4_linuxday_2007/
redirect 301 /strigi-desktop-integration /2007/02/28/strigi-desktop-integration/
redirect 301 /qjson-code-moves-to-gitorious /2009/12/05/qjson-code-moves-to-gitorious/
redirect 301 /xesam-and-bathroom-hacking /2007/08/10/xesam-and-bathroom-hacking/
redirect 301 /work-work-work-and-new-house /2007/07/03/work-work-work-and-new-house/
redirect 301 /rockmarble-rock-in-your-town /2009/04/07/rockmarble-rock-in-your-town/
redirect 301 /qtcanvas /2006/01/01/qtcanvas/
redirect 301 /create-your-simpson-avatar /2007/07/26/create-your-simpson-avatar/
redirect 301 /lots-of-improvements-into-strigi-inotify-support /2007/07/10/lots-of-improvements-into-strigi-inotify-support/
redirect 301 /no-more-exams /2006/05/10/no-more-exams/
redirect 301 /rails_execute_single_test /2010/05/28/rails_execute_single_test/
redirect 301 /strigi-gains-fam-support /2007/11/26/strigi-gains-fam-support/
redirect 301 /using-qjson-under-windows /2009/09/04/using-qjson-under-windows/
redirect 301 /kde4-preview-at-gazzanigas-lug /2007/05/30/kde4-preview-at-gazzanigas-lug/
redirect 301 /guestbook-and-spam /2007/07/18/guestbook-and-spam/
redirect 301 /svn-commit-helper /2006/02/16/svn-commit-helper/
redirect 301 /klaptopdaemon-improvement /2006/12/10/klaptopdaemon-improvement/
redirect 301 /netiquette /2006/10/28/netiquette/
redirect 301 /dotkdeorg-and-me /2007/05/10/dotkdeorg-and-me/
redirect 301 /updated-git-svn-howto /2007/11/23/updated-git-svn-howto/
redirect 301 /still-alive /2007/02/17/still-alive/
redirect 301 /rockmarble-follow-artists-tours-with-marble /2009/04/02/rockmarble-follow-artists-tours-with-marble/
redirect 301 /qshapes-a-process-modeling-tool /2006/08/08/qshapes-a-process-modeling-tool/
redirect 301 /regular-expressions /2006/09/12/regular-expressions/
redirect 301 /ibook-mouse-emulation /2006/05/05/ibook-mouse-emulation/
redirect 301 /my-second-level-thesis /2006/08/08/my-second-level-thesis/
redirect 301 /going-to-fosdem-2007-edition /2007/02/17/going-to-fosdem-2007-edition/
redirect 301 /qjson_qt_json_library /2008/11/04/qjson_qt_json_library/
redirect 301 /two-new-entries-in-my-life /2008/03/26/two-new-entries-in-my-life/
redirect 301 /hpcalc /2006/12/01/hpcalc/
redirect 301 /query_strigi_using_xesam /2007/08/09/query_strigi_using_xesam/
redirect 301 /new-house-opening /2007/07/18/new-house-opening/
